<h1>Admin (list of users)</h1>
<hr>
<%= paginate @users %>
<ul>
  <% @users.each do |user| %>
    <h4>
      <li>
        <%= user.full_name %> | 
        <%= link_to user.email, admin_user_path(user) %>
        <% if user.admin? %>
          | (admin)
        <% end %>
        </h4>
      </li>
  <% end %>
</ul>

<%= render 'admin/users/footer' %>