<h1>Admin (list of users)</h1>
<hr>
<% @users.each do |user| %>
  <div>
    <h4>
      <%= user.firstname %> <%= user.lastname %> | 
      <%= user.email %>
      <% if user.admin? %>
        | (admin)
      <% end %>
    </h4>
    <hr>
  </div>
<% end %>
